body{
    background-color: $main-color;
}
.hero{
    @include max__width;
    @include flex__config(row, center, space-evenly);
    flex-wrap: wrap;
    height: 70vh;
    margin-bottom: 15rem;
    //background-color: #212121;
    position: relative;
    &__title{
        font-family: 'IBM Plex Sans Thai Looped', sans-serif;
        font-weight: 500;
        font-size: 4.5rem;
        line-height: 1.1;
        color: $white;
        text-align: start;
    }
    &__para{
        font-size: 1.8rem;
        color: $white;
        font-weight: 100;
    }
    &__btns{
        @include flex__config(row, center, start);
    }
    &__btn{
        display: block;
        width: fit-content;
        font-size: 1.8rem;
        font-weight: 400;
        text-decoration: none;
        background: $acc1;
        color: #fff;
        padding: 10px;
        margin-top: 2rem;
    }
    &__secBtn{
        display: block;
        width: fit-content;
        font-size: 1.8rem;
        text-decoration: none;
        border: 2px solid $acc1;
        color: $acc1;
        padding: 10px 20px;
        margin-top: 2rem;
        margin-left: 2rem;
    }
    &__img{
        width: 500px;
    }
    &__icon{
        width: 200px;
        color: #0046FF;
    }
}