$col-height: 600px;
.qualif{
    max-width: 1320px;
    margin: auto;   
    border-top: 1px solid $grey;
    padding: 5rem 0;

    &__title{
        font-size: 2rem;
        color: $white;
        text-align: center; 
        margin-bottom: 3rem;
    }
    &__row{
        @include flex__config(row, center, space-evenly);
    }
}
.edu{
    margin: auto;  
    height: $col-height;
    &__title{
        font-size: 2rem;
        color: $white;
        margin-left: 0.4rem; 
        margin-bottom: 2rem;
    }
    &__cont{
        @include flex__config(row, center, start);
        color: #fff;
        margin: 1rem auto;
        &-icon{
            position: relative;
            width: 50px;
            height: 100px;
            margin-right: 1rem;
            &::before{
                content: '';
                width: 20px;
                height: 20px;
                border-radius: 100%;
                border: 1px solid #FF9543;
                background: #FF9543;
                background: radial-gradient(circle, #FF9543 50%, rgba(246,120,1,0) 50%);
                position: absolute;
                top: 1rem;
                left: 15px;
            }
            &::after{
                content: '';
                width: 1px;
                height: 60px;
                background-color: #FF9543;
                position: absolute;
                bottom: 5px;
                left: 24.5px;
            }
        }
        &-link{
            text-decoration: none;
            color: #fff;
        }
    }
}

.exp{
    height: $col-height;
    &__title{
        font-size: 2rem;
        color: $white;
        margin-left: 0.4rem; 
        margin-bottom: 2rem;
    }
    &__cont{
        @include flex__config(row, center, start);
        color: #fff;
        margin: 1rem auto;
        &-data{
            width: 500px;
        }
        &-icon{
            position: relative;
            width: 50px;
            height: 100px;
            margin-right: 1rem;
            &::before{
                content: '';
                width: 20px;
                height: 20px;
                border-radius: 100%;
                border: 1px solid #FF9543;
                background: #FF9543;
                background: radial-gradient(circle, #FF9543 50%, rgba(246,120,1,0) 50%);
                position: absolute;
                top: 1rem;
                left: 15px;
            }
            &::after{
                content: '';
                width: 1px;
                height: 60px;
                background-color: #FF9543;
                position: absolute;
                bottom: 5px;
                left: 24.5px;
            }
        }
    }
}