@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");
/*  Custom CSS Reset by Josh Comeau  */
*, *::before, *::after {
    box-sizing: border-box; }
  * {
    margin: 0; }
  html, body {
    height: 100%; }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'Inter', sans-serif; }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%; }
  input, button, textarea, select {
    font: inherit; }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word; }
  /*  https://www.joshwcomeau.com/css/custom-css-reset/  */

@mixin max__width {
    max-width: 1320px;
    margin: 0 auto;
}
@mixin flex__config($direction, $align, $justify){
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}
$main-color: #080705;
$acc1: #088EDA;
$acc2: #D3B88C;
$acc3: #14FFEC;
$white: #fff;
$black: #000;
$grey: #5A5E65;