<section class="qualif">
    <h2 class="qualif__title">Capacitación</h2>
    <div class="qualif__row">
        <article class="edu">
            <h2 class="edu__title">
                <i class="fa-solid fa-graduation-cap"></i>
                 Educación
            </h2>
            <div class="edu__cont">
                <div class="edu__cont-icon">
                </div>
                <div class="edu__cont-data">
                    <h3 class="edu__cont-title">
                        Ciencias de la Computación
                    </h3>
                    <h4 class="edu__cont-sub">
                        Marzo 2019 - Presente   
                    </h4>
                    <p class="edu__cont-para">
                        Universidad de Buenos Aires
                    </p>
                    <a href="" class="edu__cont-link">
                        Certificado
                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                    </a>
                </div>
            </div>
            <div class="edu__cont">
                <div class="edu__cont-icon">
                </div>
                <div class="edu__cont-data">
                    <h3 class="edu__cont-title">
                        Desarrollador Fullstack
                    </h3>
                    <h4 class="edu__cont-sub">
                        Febrero 2022 - Agosto 2022
                    </h4>
                    <p class="edu__cont-para">
                        Argentina Programa
                    </p>
                    <a href="" class="edu__cont-link">
                        Certificado
                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                    </a>
                </div>
            </div>
            <div class="edu__cont">
                <div class="edu__cont-icon">
                </div>
                <div class="edu__cont-data">
                    <h3 class="edu__cont-title">
                        Desarrollador fullstack
                    </h3>
                    <h4 class="edu__cont-sub">
                        Diciembre 2021 - Diciembre 2022
                    </h4>
                    <p class="edu__cont-para">
                        Coderhouse
                    </p>
                    <a href="" class="edu__cont-link">
                        Certificado
                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                    </a>
                </div>
            </div>
            <div class="edu__cont">
                <div class="edu__cont-icon">
                </div>
                <div class="edu__cont-data">
                    <h3 class="edu__cont-title">
                        Técnico Electrónico
                    </h3>
                    <h4 class="edu__cont-sub">
                        Marzo 2012 - Diciembre 2019
                    </h4>
                    <p class="edu__cont-para">
                        Escuela Secundaria Técnica Florentino Ameghino
                    </p>
                    <a href="" class="edu__cont-link">
                        Certificado
                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                    </a>
                </div>
            </div>
        </article>
        <article class="exp">
            <h2 class="exp__title">
                <i class="fa-solid fa-briefcase"></i>
                 Experiencia
            </h2>
            <div class="exp__cont">
                <div class="exp__cont-icon">
                </div>
                <div class="exp__cont-data">
                    <h3 class="exp__cont-title">
                        Proyectos Personales
                    </h3>
                    <h4 class="exp__cont-sub">
                        2019 - Presente
                    </h4>
                    <p class="exp__cont-para">
                        Trabajos realizados como parte de cursos, tutoriales o durante el estudio autodidacta de alguna tecnología.
                    </p>
                    <a href="" class="edu__cont-link">
                        Portfolio
                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                    </a>
                </div>
            </div>
            <div class="exp__cont">
                <div class="exp__cont-icon">
                </div>
                <div class="exp__cont-data">
                    <h3 class="exp__cont-title">
                        Instituto Argentino de Radioastronomía
                    </h3>
                    <h4 class="exp__cont-sub">
                        Agosto 2019 - Diciembre 2019
                    </h4>
                    <h4 class="exp__cont-sub">
                        Pasantía
                    </h4>
                    <p class="exp__cont-para">
                        Desarrollo de un sistema de refrigeración para dispositivos electrónicos basado en arduino.
                    </p>
                    <a href="" class="edu__cont-link">
                        Ver Proyecto
                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                    </a>
                </div>
            </div>
        </article>

    </div>
</section>