<section class="hero">
    <article>
        <h1 class="hero__title">Tu diseño, <br> Hecho realidad</h1>
        <p class="hero__para">Mi nombre es Tomás y estoy acá para <br> llevar tu idea al siguiente nivel.</p>
        <div class="hero__btns">
            <a class="hero__btn" href="">CONTACTAME</a>
            <a class="hero__secBtn" href="">SOBRE MÍ</a>
        </div>
    </article>
    <article>
        <img src="../../../assets/hero__img9.svg" alt="" class="hero__img">
    </article>
</section>