<section class="aboutme">
    <article class="aboutme__col-l">
        <img class="aboutme__img" src="../../../assets/pfp.jpg" alt="">
    </article>
    <article class="aboutme__col-r">
        <h2 class="aboutme__title">Tomás De Los Santos - Fullstack Developer</h2>
        <p class="aboutme__para">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat saepe quibusdam magni quasi, nemo, ea unde voluptates dolore non modi numquam alias neque perferendis minima earum nesciunt soluta voluptatum facilis suscipit adipisci dolores! Nam accusantium obcaecati in maxime eligendi, sint, ducimus perspiciatis </p>
        <a class="aboutme__btn hero__btn" href="#">Descargar CV</a>
    </article>
</section>