<nav class="nav">
    <img src="../../../assets/AP__logo.png" alt="Logo Argentina Programa" class="nav__logo">
    <ul class="nav__ul">
        <li class="nav__li"><a class="nav__link" href="#"><i class="fa-brands fa-linkedin"></i></a></li>
        <li class="nav__li"><a class="nav__link" href="#"><i class="fa-brands fa-github"></i></a></li>
        <li class="nav__li"></li>
        <li class="nav__li"><a class="nav__link" href="#"><i class="fa-brands fa-twitter"></i></a></li>
        <li class="nav__li"><a class="nav__link" href="#"><i class="fa-brands fa-instagram"></i></a></li>
        <li class="nav__li"></li>
    </ul>
    <a class="nav__link-login" href="#">Login <i class="fa-solid fa-arrow-right-to-bracket"></i></a>
</nav>