<section class="port">
    <h2 class="port__title">Portfolio</h2>
    <article class="card">
        <div class="card__row">
            <article class="card-s__cont">
                <img class="card-s__img" src="assets/axie101.png" alt="">
                <p class="card-s__sub">
                    <i class="fa-brands fa-html5"></i> 
                    <i class="fa-brands fa-css3-alt"></i>
                    <i class="fa-brands fa-bootstrap"></i>
                </p>
                <h2 class="card-s__title">Axie101</h2>
                <p class="card-s__para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse similique odit reiciendis. Explicabo, ipsa suscipit.</p>
                <a class="card-s__btn" href="">Saber más</a>
            </article>
            <article class="card-s__cont">
                <img class="card-s__img" src="assets/portfolio.png" alt="">
                <p class="card-s__sub dark">
                    <i class="fa-brands fa-html5"></i> 
                    <i class="fa-brands fa-css3-alt"></i>
                    <i class="fa-brands fa-js"></i>
                    <i class="fa-brands fa-angular"></i>
                </p>
                <h2 class="card-s__title dark">Portfolio</h2>
                <p class="card-s__para dark">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse similique odit reiciendis. Explicabo, ipsa suscipit.</p>
                <a class="card-s__btn dark" href="">Saber más</a>
            </article>
            <article class="card-s__cont">
                <img class="card-s__img" src="assets/axie101.png" alt="">
                <p class="card-s__sub">
                    <i class="fa-brands fa-html5"></i> 
                    <i class="fa-brands fa-css3-alt"></i>
                    <i class="fa-brands fa-bootstrap"></i>
                </p>
                <h2 class="card-s__title">Axie101</h2>
                <p class="card-s__para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse similique odit reiciendis. Explicabo, ipsa suscipit.</p>
                <a class="card-s__btn" href="">Saber más</a>
            </article>
            <article class="card-s__cont">
                <img class="card-s__img" src="assets/portfolio.png" alt="">
                <p class="card-s__sub dark">
                    <i class="fa-brands fa-html5"></i> 
                    <i class="fa-brands fa-css3-alt"></i>
                    <i class="fa-brands fa-js"></i>
                    <i class="fa-brands fa-angular"></i>
                </p>
                <h2 class="card-s__title dark">Portfolio</h2>
                <p class="card-s__para dark">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse similique odit reiciendis. Explicabo, ipsa suscipit.</p>
                <a class="card-s__btn dark" href="">Saber más</a>
            </article>
            <article class="card-s__cont">
                <img class="card-s__img" src="assets/axie101.png" alt="">
                <p class="card-s__sub">
                    <i class="fa-brands fa-html5"></i> 
                    <i class="fa-brands fa-css3-alt"></i>
                    <i class="fa-brands fa-bootstrap"></i>
                </p>
                <h2 class="card-s__title">Axie101</h2>
                <p class="card-s__para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse similique odit reiciendis. Explicabo, ipsa suscipit.</p>
                <a class="card-s__btn" href="">Saber más</a>
            </article>
            <article class="card-s__cont">
                <img class="card-s__img" src="assets/portfolio.png" alt="">
                <p class="card-s__sub dark">
                    <i class="fa-brands fa-html5"></i> 
                    <i class="fa-brands fa-css3-alt"></i>
                    <i class="fa-brands fa-js"></i>
                    <i class="fa-brands fa-angular"></i>
                </p>
                <h2 class="card-s__title dark">Portfolio</h2>
                <p class="card-s__para dark">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse similique odit reiciendis. Explicabo, ipsa suscipit.</p>
                <a class="card-s__btn dark" href="">Saber más</a>
            </article>
            <article class="card-s__cont">
                <img class="card-s__img" src="assets/axie101.png" alt="">
                <p class="card-s__sub">
                    <i class="fa-brands fa-html5"></i> 
                    <i class="fa-brands fa-css3-alt"></i>
                    <i class="fa-brands fa-bootstrap"></i>
                </p>
                <h2 class="card-s__title">Axie101</h2>
                <p class="card-s__para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse similique odit reiciendis. Explicabo, ipsa suscipit.</p>
                <a class="card-s__btn" href="">Saber más</a>
            </article>
            <article class="card-s__cont">
                <img class="card-s__img" src="assets/portfolio.png" alt="">
                <p class="card-s__sub dark">
                    <i class="fa-brands fa-html5"></i> 
                    <i class="fa-brands fa-css3-alt"></i>
                    <i class="fa-brands fa-js"></i>
                    <i class="fa-brands fa-angular"></i>
                </p>
                <h2 class="card-s__title dark">Portfolio</h2>
                <p class="card-s__para dark">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse similique odit reiciendis. Explicabo, ipsa suscipit.</p>
                <a class="card-s__btn dark" href="">Saber más</a>
            </article>
        </div>
    </article>
</section>