<section class="skills">
            <h2 class="skills__title">Hard & Soft Skills</h2>
            <div class="skills__row">
                <div class="skills__cont">
                    <i class="fa-solid fa-globe skills__icon"></i>
                    <h3 class="skills__sub">Frontend</h3>
                    <div class="skills__para">
                        <ul>
                            <li class="skills__para"> Tecnologías: HTML5, CSS3, Javascript (ES6).</li>
                            <li class="skills__para">Frameworks y herramientas: SASS, Bootstrap, Angular, React.</li>
                        </ul>
                    </div>
                    <div class="skills__row">
                        <i class="skills__logo fa-brands fa-html5"></i>
                        <i class="skills__logo fa-brands fa-css3-alt"></i>
                        <i class="skills__logo fa-brands fa-bootstrap"></i>
                        <i class="skills__logo fa-brands fa-js"></i>
                        <i class="skills__logo fa-brands fa-react"></i>
                    </div>
                </div>
                <div class="skills__cont forty">
                    <i class="fa-solid fa-globe skills__icon"></i>
                    <h3 class="skills__sub">Backend</h3>
                    <div class="skills__para">
                        <ul>
                            <li class="skills__para"> Tecnologías: Javascript (ES6), Java, SQL, MongoDB y Firebase.</li>
                            <li class="skills__para">Frameworks y herramientas: Spring Boot, Node, MySQL.</li>
                        </ul>
                    </div>
                    <div class="skills__row">
                        <i class="skills__logo fa-brands fa-html5"></i>
                        <i class="skills__logo fa-brands fa-css3-alt"></i>
                        <i class="skills__logo fa-brands fa-bootstrap"></i>
                        <i class="skills__logo fa-brands fa-js"></i>
                        <i class="skills__logo fa-brands fa-react"></i>
                    </div>
                </div>
                <div class="skills__cont">
                    <i class="fa-solid fa-globe skills__icon"></i>
                    <h3 class="skills__sub">Idiomas</h3>
                    <div class="skills__para">
                        <ul>
                            <li class="skills__para"> Español (Nativo).</li>
                            <li class="skills__para">Inglés Avanzado. Nivel CEFR B2, exámen Anglia con distinción (+80%) .</li>
                        </ul>
                    </div>
                </div>
                <div class="skills__cont">
                    <i class="fa-solid fa-globe skills__icon"></i>
                    <h3 class="skills__sub">Frontend</h3>
                    <div class="skills__para">
                        <ul>
                            <li class="skills__para"> Tecnologías: HTML5, CSS3, Javascript (ES6).</li>
                            <li class="skills__para">Frameworks y herramientas: SASS, Bootstrap, Angular, React.</li>
                        </ul>
                    </div>
                    <div class="skills__row">
                        <i class="skills__logo fa-brands fa-html5"></i>
                        <i class="skills__logo fa-brands fa-css3-alt"></i>
                        <i class="skills__logo fa-brands fa-bootstrap"></i>
                        <i class="skills__logo fa-brands fa-js"></i>
                        <i class="skills__logo fa-brands fa-react"></i>
                    </div>
                </div>
                <div class="skills__cont">
                    <i class="fa-solid fa-globe skills__icon"></i>
                    <h3 class="skills__sub">Frontend</h3>
                    <div class="skills__para">
                        <ul>
                            <li class="skills__para"> Tecnologías: HTML5, CSS3, Javascript (ES6).</li>
                            <li class="skills__para">Frameworks y herramientas: SASS, Bootstrap, Angular, React.</li>
                        </ul>
                    </div>
                    <div class="skills__row">
                        <i class="skills__logo fa-brands fa-html5"></i>
                        <i class="skills__logo fa-brands fa-css3-alt"></i>
                        <i class="skills__logo fa-brands fa-bootstrap"></i>
                        <i class="skills__logo fa-brands fa-js"></i>
                        <i class="skills__logo fa-brands fa-react"></i>
                    </div>
                </div>
                <div class="skills__cont">
                    <i class="fa-solid fa-globe skills__icon"></i>
                    <h3 class="skills__sub">Frontend</h3>
                    <div class="skills__para">
                        <ul>
                            <li class="skills__para"> Tecnologías: HTML5, CSS3, Javascript (ES6).</li>
                            <li class="skills__para">Frameworks y herramientas: SASS, Bootstrap, Angular, React.</li>
                        </ul>
                    </div>
                    <div class="skills__row">
                        <i class="skills__logo fa-brands fa-html5"></i>
                        <i class="skills__logo fa-brands fa-css3-alt"></i>
                        <i class="skills__logo fa-brands fa-bootstrap"></i>
                        <i class="skills__logo fa-brands fa-js"></i>
                        <i class="skills__logo fa-brands fa-react"></i>
                    </div>
                </div>
            </div>
        </section>